body{
    background-color: #eee;	
}
.mt-100 {
    margin-top: 0px;
}
.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}
.pull-middle {
    /* display: table-cell; */
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

.phone {
    position: relative;
    max-width: 263px;
    margin: 0 auto;
    padding: 65px 15px 55px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}

#logout{
	text-decoration:none;
	color: white;
}

.navbar-brand{
    padding: 18px 15px; !important
}

#ola{
    text-transform: capitalize;
}
.navbar-inverse {
    border-radius: 0 !important;
}
#form{
	margin: 100px 0px 170px 0px;
}
.package-table tbody tr:nth-child(odd){background:#FAFAFA;}
.package-table td{border-top:0px !important; border-right:1px solid #fff !important;}
.package-table tbody tr:nth-child(even){background:#DFDFDF; }
.capitalize{
	text-transform: capitalize;
}
.center{
	text-align: center;
}
fieldset.for-panel {
    background-color: #fcfcfc;
    border: 1px solid #999;
    border-radius: 4px;
    padding:15px 10px;
    background-color: #d9edf7;
    border-color: #5cb85c;
    background-color: #f9fdfd;
    margin-bottom:12px;
    margin: 100px 0px 150px 0px;
}
fieldset.for-panel legend {
    background-color: #fafafa;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    color: #5cb85c;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
    background-color: rgba(161, 224, 161, 0.4);
    margin-bottom: 0;
}
.editA{
    text-decoration: none;
    color: white;
}